@media (max-width: 1200px) {
    .card {

        &__in {
            padding-top: 0;
        }
        &__body {
            grid-template-columns: 1fr 1fr 1.5fr;
            grid-template-rows: 10% 20% 1fr 1fr;
            grid-column-gap: 25px;
            margin-bottom: 30px;
            &_item {

                &:nth-child(1) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 4;
                }

                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }

                &:nth-child(3) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 3;
                    grid-row-end: 5;
                }

                &:nth-child(4) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;

                }

                &:nth-child(6) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                &:nth-child(5) {
                    display: none;
                }

                &:nth-child(7) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 5;
                    grid-row-end: 6;
                }

                &:nth-child(8) {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 5;
                    grid-row-end: 6;
                }
            }

            
        }

        &__img {
            
            &_item {
                padding: 65px 20px;
            }
        }

        &__head {

            &_title {
                font-size: 26px;
                line-height: 31px;
            }
        }

        &__params {

            &_form {

                &_main {
                    border-top: none;
                }
                &_item {
                    flex-direction: column;

                    &_name {
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                    &_radio {
                        label {
                            width: 50%;
                        }
                    }
                }
            }
        }

        &__action {
            flex-direction: column;

            &_price {
                width: 100%;
                margin-bottom: 26px;
            }

            &_btn {
                width: 100%;

                .button {
                    width: 100%;
                }
            }
        }

        &__cash {
            font-size: 14px;
            padding: 12px;
            max-height: 50px;
            align-content: start;
        }
        &__ex {
            max-height: 110px;
            margin-top: 30px;
        }

        &__pay {
            margin-top: 30px;
            height: 110px;
        }

        &__tabs_content_list {

        }
    
        &__tabs_content_item {
    
        }
    
        &__tabs_content_item.rev {

            .rev__list {
                width: 71%;
            }

            .rev__item {

                &_body {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .rev__total {
                width: 25%;
                &_panel {
                    padding: 15px;
                    margin-bottom: 15px;

                    .ex {
                        font-size: 15px;
                        line-height: 18px;
                    }
                }

                &_btn {
                    .button {
                        padding: 15px;
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    
}


@media (max-width: 660px) {
    .card {

        &__body {

            grid-template-columns: 100%;
            grid-template-rows: 48px 1fr 100px 24px 1fr auto auto auto;
            grid-row-gap: 15px;
            grid-column-gap: 0;


            &_item {

                &:nth-child(1) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }

                &:nth-child(2) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }

                &:nth-child(3) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 5;
                    grid-row-end: 6;
                }

                &:nth-child(4) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 6;
                    grid-row-end: 7;
                }

                &:nth-child(5) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                }

                &:nth-child(6) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                &:nth-child(7) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 7;
                    grid-row-end: 8;
                }

                &:nth-child(8) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 8;
                    grid-row-end: 9;
                }
            }

        }

        &__cash {
            max-height: 48px;
            font-size: 13px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: none;
        }

        &__img {
            // max-height: 302px;
            max-width: unset !important;
            
            &_item {
                width: 100%;
                height: 100%;
                padding: 51px 10px;
            }

            &_thumbs {
                display: none;
            }

            &_pag {
                display: flex;
            }
        }

        &__head {

            &_title {
                margin-bottom: 15px;

            }

            &_subtitle {
                margin-bottom: 22px;
            }
        }

        &__vendor {
            height: 24px;
            padding: 0;
            border: none;
            display: flex !important;
     

            &_name {
                margin-right: 10px;
            }
            
        }

        &__action {
            padding: 0;
        }

        &__ex {
            height: 200px;
            margin: 0;
        }

        &__pay {
            margin: 0;
        }

        &__tabs {

            &_head {

                &_item {
                    font-size: 13px;
                    line-height: 16px;
                }
            }

            &_content {
                &_item {
                    .rev__total {
                        display: none;
                    }
                }

                &_item.rev {
                    flex-direction: column;

                    .rev__mob_btn {
                        display: block;
                        margin-bottom: 20px;
                    }

                    .rev__list {
                        width: 100%;
                    }

                }

                &_item.character {

                    .item {

                        .name {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {


    .card {


        &__body {
            grid-template-rows: 0 1fr 100px 24px 1fr auto auto auto;
            &_item {

                &:nth-child(6) {
                    display: none;
                }
            }
        }

       
    }
}