@media (max-width: 1000px) {

    .contacts {

        &__in {

        }

        &__head {


            &_soc {
                display: none;
            }
        }

        &__body {
            flex-wrap: wrap;

            &_item {
                width: 100%;
                margin-bottom: 54px;

                &:last-child {
                    margin: 0;
                }

                .btn {
                    margin-top: 13px;
                    button {
                        width: 100%;
                    }
                }
            }
        }

        &__lg {
            flex-wrap: wrap;
            padding: 15px;
            padding-bottom: 0;
            &_item {
                width: 50%;
                margin-bottom: 15px;


                &:first-child {
                    width: 100%;
                }
            }
        }
    }
}


@media (max-width: 600px) {

    .contacts {

        &__in {

        }

        &__head {

        }

        &__body {


        }

        &__lg {

            &_item {
                width: 100% !important;
            }
        }
    }
}