.mobmenu.is-open {  
    opacity: 1;
    z-index: 100;

    .mobmenu__content {
        transform: translateX(0);
    }

}
.mobmenu {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 58px;
    z-index: -1;
    height: 100%;
    opacity: 0;
    z-index: -1;
    @include def-anim;

    &__layer {
        background-color: rgba(0, 0, 0, .5);
        height: 100%;
        width: 100%;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }

    &__content {
        width: 80%;
        max-height: calc(100vh - 58px);
        height: 100%;
        background-color: #fff;
        @include def-anim;
        transform: translateX(-100%);
        overflow: auto;
        -webkit-overflow-scrolling:touch;
        
    }

    &__nav {


        &_item_drop {

            .mobmenu__nav_item_link {
                padding-right: 40px;
                &:before {
                    position: absolute;
                    content: '';
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-image: url('../img/arrow.svg');
                    width: 15px;
                    height: 15px;
                    top: calc(50% - 7.5px);
                    right: 20px;
                    transform: rotate(90deg);
                }
            }
        }

        &_item > a {
            position: relative;
                display: block;
                padding: 18px 21px 18px 42px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                border-bottom: 1px solid $line_gray;
        }

        &_item.mobmenu__nav_item-sm {
            .mobmenu__nav_item_link {
                text-transform: unset;
            }
        }

        &_item.lk__link {

            .mobmenu__nav_item_link {
                &:after {
                    position: absolute;
                    top: calc(50% - 10px);
                    left: 16px;
                    content: url('../img/user.svg');
                }
            }
        }

        
        &_item {

            &:nth-child(1) {

                .mobmenu__nav_item_link {
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav1.svg');
                    }
                }
            }

            

            &:nth-child(2) {

                .mobmenu__nav_item_link {
                    
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav2.svg');
                    }
                }
            }

            &:nth-child(3) {

                .mobmenu__nav_item_link {
                    
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav3.svg');
                    }
                }
            }


            a {
                
            }

            &_submenu.lk-submenu {

                .head {
                    span {

                        &:after {
                            position: absolute;
                            content: url('../img/user.svg');
                            top: -2px;
                            left: 0;
                        }
                    }
                }

                .body {
                    padding: 20px 0;
                }

                .body__list_item {
                    padding-left: 38px;
                    position: relative;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 0;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        content: '';
                        width: 20px;
                        height: 20px;
                        
                    }
                }

                .body__list_item.lk-submenu--orders {
                    &:after {
                        background-image: url('../img/lk-submenu-1.svg');
                    }
                }
                .body__list_item.lk-submenu--profile {
                    &:after {
                        background-image: url('../img/lk-submenu-2.svg');
                    }
                }
                .body__list_item.lk-submenu--favs {
                    &:after {
                        background-image: url('../img/lk-submenu-3.svg');
                    }
                }
                .body__list_item.lk-submenu--settings {
                    &:after {
                        background-image: url('../img/lk-submenu-4.svg');
                    }
                }
                .body__list_item.lk-submenu--exit {
                    &:after {
                        background-image: url('../img/lk-submenu-5.svg');
                    }
                }
            }

            &_submenu {
                position: fixed;
                
                top: 0;
                left: 0;
                z-index: 105;
                background-color: #fff;
                width: 100%;
                // min-height: 100%;
                // min-height: calc(100vh - 80px);
                height: calc(100vh - 80px);
                overflow-y: scroll !important;
                -webkit-overflow-scrolling: touch;
                
                transform: translateX(-100%);
                @include def-anim;


                
                .head {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 17px 15px 17px 15px;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    background-color: $menu_down;
                    border-top: 1px solid $line_gray;
                    border-bottom: 1px solid $line_gray;

                    svg {
                        margin-right: 19px;
                    }

                    span {
                        display: block;
                        position: relative;
                        padding-left: 30px;

                        &:after {
                            position: absolute;
                            content: url('../img/nav1.svg');
                            top: 0;
                            left: 0;
                        }
                    }
                }

                .body {

                    padding: 34px 0;

                    &__part {
                        padding: 0 16px;

                        &:last-child {

                            .body__list {
                                margin: 0;
                            }
                        }
                    }   

                    &__title {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }

                    &__list {   
                        margin-bottom: 45px;
                        padding: 0 20px;

                        li {

                        }

                        &_item {
                            padding: 7.5px 0;
                            display: block;
                            font-size: 14px;
                            line-height: 16px;
                            color: $dark_gray;
                            text-transform: unset;
                            
                        }
                    }
                }
            }
        }

        &_item_drop {
            position: static !important;
        }

        &_item_drop.active {
            
            
            .mobmenu__nav_item_submenu {
                transform: translate(0);
            }
        }
        
    }


    

    &__links {

        &_item {
            a {
                display: block;
                padding: 18px 20px 18px 42px;
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
                border-bottom: 1px solid $line_gray;
            }
        }
    }

    &__user {
        display: block;
        padding: 18px 9px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 43px;

        svg {
            margin-right: 13px;
        }
    }

    &__contacts {
        margin-top: 25px;
        padding-left: 16px;

        &_title {
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
        }

        &_list {

        }

        &_item {
            margin-bottom: 18px;
            a {
                display: block;
                font-weight: 300;
                font-size: 12px;
                line-height: 16px;
                padding-left: 25px;

                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                
            }

            &:nth-child(1) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-1.svg');
                    }
                }
            }

            &:nth-child(2) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-2.svg');
                    }
                }
            }

            &:nth-child(3) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-3.svg');
                    }
                }
            }

            &:nth-child(4) {

                a {
                    &:after {   
                        left: -2px;
                        content: url('../img/mob-icon-4.svg');
                    }
                }
            }

            &:nth-child(5) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-5.svg');
                    }
                }
            }

            &:nth-child(6) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-6.svg');
                    }
                }
            }
        }
    }
}