.mobmenu.is-open {  
    opacity: 1;
    z-index: 100;

    .mobmenu__content {
        transform: translateX(0);
    }

}
.mobmenu {
    position: fixed;
    // top: 80px;
    top: 0;
    width: 100%;
    padding-top: 80px;
    z-index: -1;
    // height: 100%;
    // height: calc(100vh - 80px);
    height: 100%;
    opacity: 0;
    z-index: -1;
    @include def-anim;

    &__layer {
        background-color: rgba(0, 0, 0, .5);
        height: 100%;
        width: 100%;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;

        
    }

    &__content {
        width: 80%;
        min-height: 100%;
        background-color: #fff;
        @include def-anim;
        transform: translateX(-100%);
        overflow-y: scroll;
        // height: 100%;
        border: 1px solid green;
    }

    &__nav {


        &_item_drop {
            // position: relative;
        }

        


        &_item {

            &:nth-child(1) {

                .mobmenu__nav_item_link {
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav1.svg');
                    }
                }
            }

            

            &:nth-child(2) {

                .mobmenu__nav_item_link {
                    
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav2.svg');
                    }
                }
            }

            &:nth-child(3) {

                .mobmenu__nav_item_link {
                    
                    &:after {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 16px;
                        content: url('../img/nav3.svg');
                    }
                }
            }


            a {
                position: relative;
                display: block;
                padding: 18px 21px 18px 42px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                border-bottom: 1px solid $line_gray;
            }

            &_submenu {
                position: fixed;
                border: 1px solid purple;
                top: 0;
                left: 0;
                z-index: 105;
                background-color: #fff;
                width: 100%;
                // min-height: 100%;
                // min-height: calc(100vh - 80px);
                min-height: 100%;
                
                // overflow-y: scroll;
                transform: translateX(-100%);
                @include def-anim;


                
                .head {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 17px 15px 17px 15px;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    background-color: $menu_down;
                    border-top: 1px solid $line_gray;
                    border-bottom: 1px solid $line_gray;

                    svg {
                        margin-right: 19px;
                    }

                    span {
                        display: block;
                        position: relative;
                        padding-left: 30px;

                        &:after {
                            position: absolute;
                            content: url('../img/nav1.svg');
                            top: 0;
                            left: 0;
                        }
                    }
                }

                .body {

                    padding: 34px 0;

                    &__part {
                        padding: 0 16px;
                    }   

                    &__title {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }

                    &__list {   
                        margin-bottom: 45px;
                        padding: 0 20px;
                        li {

                        }

                        &_item {
                            padding: 15px 0;
                            display: block;
                            font-size: 14px;
                            line-height: 16px;
                            color: $dark_gray;
                            text-transform: unset;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        &_item_drop {
            position: static !important;
        }

        &_item_drop.active {
            
            
            .mobmenu__nav_item_submenu {
                transform: translate(0);
            }
        }
        
    }


    

    &__links {

        &_item {
            a {
                display: block;
                padding: 18px 20px 18px 42px;
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
                border-bottom: 1px solid $line_gray;
            }
        }
    }

    &__user {
        display: block;
        padding: 18px 9px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 43px;

        svg {
            margin-right: 13px;
        }
    }

    &__contacts {
        padding-left: 16px;

        &_title {
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
        }

        &_list {

        }

        &_item {
            margin-bottom: 18px;
            a {
                display: block;
                font-weight: 300;
                font-size: 12px;
                line-height: 16px;
                padding-left: 25px;

                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                
            }

            &:nth-child(1) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-1.svg');
                    }
                }
            }

            &:nth-child(2) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-2.svg');
                    }
                }
            }

            &:nth-child(3) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-3.svg');
                    }
                }
            }

            &:nth-child(4) {

                a {
                    &:after {   
                        left: -2px;
                        content: url('../img/mob-icon-4.svg');
                    }
                }
            }

            &:nth-child(5) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-5.svg');
                    }
                }
            }

            &:nth-child(6) {

                a {
                    &:after {   
                        content: url('../img/mob-icon-6.svg');
                    }
                }
            }
        }
    }
}