@media (max-width: 1200px) {
    .products {
        
        .product {
            width: calc((100% / 3) - 25px);
        }
    }
}


@media (max-width: 768px) {
    .products { 
        
        .product {
            width: calc((100% / 2) - 25px);
        }
        
    }
}

@media (max-width: 600px) {

    .products {
        width: unset;
        margin-bottom: 20px;
        
        .product {
            border-radius: 0;
            width: 100%;
            box-shadow: none !important;
            margin: 0; 
            border-bottom: 1px solid #E1E5EE;

            &:first-child {
                border-top: 1px solid #E1E5EE;
            }

            &__dc {
                display: none;
            }

            &__like {
                display: none;
            }

            display: flex;

            &__img {
                width: 130px;
                flex: 0 0 auto;
                padding: 0;
            }

            &__body {
                width: 100%;
                padding-left: 20px;

                &_name {
                    font-size: 14px;
                    line-height: 18px;
                }
                &_fl {
                    font-size: 12px;
                    line-height: 24px;
                }
            }
        }
    }
}