<div class="cardParams">
    <div class="cardParams__head">
        <div class="cardParams__head_title">Параметры:</div>
        <div class="cardParams__head_els">
            <div class="cardParams__head_els_item active" data-tab>Одинаковые</div>
            <div class="cardParams__head_els_item" data-tab>Разные</div>
        </div>
    </div>
    <div class="cardParams__body">
        <div class="cardParams__body_item active">
            <div class="cardParams__ex">
                <div class="cardParams__ex_head">
                    <div class="cardParams__ex_head_item cardParams__ex_head_item-hide">Левый глаз</div>
                    <div class="cardParams__ex_head_item cardParams__ex_head_item-hide">Правый глаз</div>
                </div>
            </div>
            <div class="cardParams__item cardParams__item-center">
                <div class="cardParams__item_name">Оптическая сила</div>
                <div class="cardParams__item_main">
                    <div class="cardParams__item_main_part long">
                        <select class="card__sel">
                            <option value="Saphire Blue">Saphire Blue</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardParams__body_item active">
            <div class="cardParams__ex">
                <div class="cardParams__ex_head">
                    <div class="cardParams__ex_head_item">Левый глаз</div>
                    <div class="cardParams__ex_head_item">Правый глаз</div>
                </div>
            </div>
            <div class="cardParams__item">
                <div class="cardParams__item_name">Оптическая сила</div>
                <div class="cardParams__item_main">
                    <div class="cardParams__item_main_part long">
                        <select class="card__sel">
                            <option value="Saphire Blue">Saphire Blue</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="cardParams__item_main_part">
                        <select class="card__sel">
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
   
</div>