.basket {


    
    &__in {

    }

    &__mobile_action {
        display: none;
    }

    &__head {
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {

        }

        &_btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $line_gray;
            border-radius: 5px;
            padding: 5px 10px;
            @include def-anim;

            svg {
                path {
                    @include def-anim;
                }
            }

            &:hover {
                background-color: #414E60;
                border-color:#414E60;
                color: #fff;

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }

            &:active {
                transform: scale(0.95);
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    &__body {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        &_col {
            width: 43%;

            &:first-child {
                width: 55%;
            }
        }
        &_item {
            width: 100% !important;
            margin-bottom: 30px;

            &_head {
                position: relative;
                padding-left: 40px;
                font-weight: 500;
                font-size: 17px;
                line-height: 27px;
                margin-bottom: 20px;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        &_cnt {
            width: 58%;
            padding: 25px;
            border-radius: 10px;
            background-color: #F5F6FA;
            .basket__body_item_head {

                &:after {
                    content: url('../img/basket-ico-1.svg');
                }
            }

            .cnt__form {
                display: flex;
                justify-content: space-between;


                &_field.active {
                    label {
                        padding: 0 9px;
                        color: #737783;;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
                &_field{
                    width: 47%;
                    position: relative;

                    textarea {
                        width: 100%;
                        border-radius: 4px;
                        border: 1px solid $line_gray;
                        display: block;
                        height: 100%;
                        background-color: #fff;
                        resize: none;
                        padding: 10px 20px;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;

                        &:focus {
                            outline: none;
                            border-color: $black_text;
                        }
                    }
                    label {
                        position: absolute;
                        top: 15px;
                        left: 20px;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 16px;
                        color: #9497A3;
                        font-size: 13px;
                        @include def-anim;
                        
                        // border-bottom: 2px solid #fff;
                        span {
                            position: relative;
                            z-index: 2;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 8px;
                            background-color: #fff;
                            opacity: 0;
                            @include def-anim;
                            z-index: 1;
                        }
                    }

                    textarea:focus ~ label {
                        padding: 0 9px;
                        color: $black_text;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }


                }
                &_inpts {
                    width: 50%;
                }

                &_inpt.active {

                    label {
                        padding: 0 9px;
                        color:#737783;;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }
                }

                &_inpt.cnt__form_inpt-auth {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .cnt__form_inpt_text {
                        margin-right: 10px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 16px;
                    }   

                    .cnt__form_inpt_body {
                        position: relative;
                        width: 100px;
                    }
                    
                }

                &_inpt {
                    width: 100%;
                    margin-bottom: 15px;
                    position: relative;

                    &:last-child {
                        margin: 0;
                    }
                    input {
                        display: block;
                        width: 100%;
                        background-color: #fff;
                        padding: 15px 20px;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        border-radius: 4px;
                        border: 1px solid $line_gray;

                        &:focus {
                            outline: none;
                            border-color: $black_text;
                        }

                    }

                    label {
                        position: absolute;
                        top: calc(50% - 8px);
                        left: 20px;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 16px;
                        color: #9497A3;
                        font-size: 13px;
                        @include def-anim;
                        
                        // border-bottom: 2px solid #fff;
                        span {
                            position: relative;
                            z-index: 2;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 8px;
                            background-color: #fff;
                            opacity: 0;
                            @include def-anim;
                            z-index: 1;
                        }

                    }

                    input:focus ~ label {
                        padding: 0 9px;
                        color: #737783;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }

                    
                }
            }
        }

        &_prs {
            width: 40%;
            border: 1px solid $line_gray;
            border-radius: 10px;

            &_item {
                padding: 30px 20px;
                display: flex;
                align-items: center;
                position: relative;
                border-bottom: 1px solid $line_gray;

                &:last-child {
                    border: none;
                }


                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    border: 1px solid $line_gray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;

                    @include def-anim;

                    svg {
                        path {
                            @include def-anim;
                        }
                    }

                    &:hover {
                        border-color: #414E60;
                        background-color: #414E60;
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
                .img {
                    margin-right: 23px;
                    display: block;
                    width: 100px;
                    flex: 0 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .body {
                    padding-left: 20px;
                    // width: 100%;
                    width: 100%;
                    &__name {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 24px;
                        margin-bottom: 20px;
                        display: block;

                        @include def-anim;

                        &:hover {
                            color: $blue;
                        }

                        span {
                            display: block;
                            color: $dark_gray;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }   

                    &__act {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &_price {
                            display: flex;
                            align-items: center;

                            .name {
                                font-size: 14px;
                                line-height: 24px;
                                color: $light_gray;
                                margin-right: 5px;
                                
                            }
                            .value {
                                font-weight: 600;
                                font-size: 17px;
                                line-height: normal;
                                // color: $;
                            }
                        }

                        &_count {
                            border: 1px solid $line_gray;
                            border-radius: 4px;
                            padding: 4px;
                            font-weight: 700;
                            .name {
                                display: none;
                            }
                            .value {
                                display: flex;
                                align-items: center;

                                &__btn {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0 2px;

                                    @include def-anim;

                                    &:hover {

                                        svg {
                                            path {
                                                fill: $red;
                                            }
                                        }
                                    }
                                }

                                &__inp {
                                    width: 50px;
                                    text-align: center;

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &_form {
            width: 58%;


            &_item {
                padding: 25px;
                width: 100%;
                border-radius: 10px;
                background-color: #F5F6FA;
                margin-bottom: 25px;

                &:nth-child(1) {
                    .basket__body_item_head {

                        &:after {
                            content: url('../img/basket-ico-2.svg');
                        }
                    }
                }

                &:nth-child(2) {
                    .basket__body_item_head {

                        &:after {
                            content: url('../img/basket-ico-3.svg');
                        }
                    }
                }
                


            }

            &_row.mc_cb {
                justify-content: flex-start;
                .radio {
                    margin-right: 24px;

                    &:last-child {
                        margin: 0;
                    }

                    label[for="sw1"] {
                        &:after {
                            top: -5px;
                        }
                    }
                }


                .form__input.mob-show {
                    display: none;
                }
                

                .form__input {
                    width: 45%;

                    .choices.disabled {
                        pointer-events: none !important;
                        color: #ccc !important;
                        
                        &__inner {
                            background-color: $light_gray; 
                        }
                    }
                }

                .form__input.cb {
                    margin-left: 25px;
                    .cashback {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 17px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px;
                        border-radius: 4px;
                        

                        background-image: url('../img/b-c-bg.svg');
                        background-size: contain;
                        background-position: left;
                        background-repeat: no-repeat;
                        background-color: #fff;

                        .name {
                            color: #fff;
                        }
                    }
                }
                
            }

            &_row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .form__input.custom_field.active {
                    label {
                        padding: 0 9px;
                        color: #737783;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
                .form__input {
                    width: 48%;
                    position: relative;
                    

                    input, select {
                        width: 100%;
                        display: block;
                    }
                    .choices.is-open {
                        .choices__inner {
                            border-color: $black_text;
                            z-index: 5;
                            position: relative;
                        }

                        
                    }
                    .choices {

                        &__inner {
                            border: 1px solid $line_gray;
                            background-color: #fff;
                            border-radius: 4px;
                            min-height: unset;
                            padding: 15px 20px;
                            font-size: 13px !important;
                            line-height: 16px !important;

                            .choices__list--single {
                                padding: 0;
                                padding-right: 5px;
                            }

                            
                        }
                        .choices__list--dropdown{
                            border: 1px solid $line_gray !important;
                            background-color: #fff;
                            z-index: 5;
                        }
                    }
                    
                }

                .form__input.custom_field {
                    input[type="text"] {
                        display: block;
                        width: 100%;
                        background-color: #fff;
                        padding: 15px 20px;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        border-radius: 4px;
                        border: 1px solid $line_gray;

                        &:focus {
                            outline: none;
                            border-color: $black_text;
                        }

                    }

                    label {
                        position: absolute;
                        top: calc(50% - 8px);
                        left: 20px;
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 16px;
                        color: #737783;
                        font-size: 13px;
                        @include def-anim;
                        
                        // border-bottom: 2px solid #fff;
                        span {
                            position: relative;
                            z-index: 2;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 8px;
                            background-color: #fff;
                            opacity: 0;
                            @include def-anim;
                            z-index: 1;
                        }

                    }

                    input[type="text"]:focus ~ label {
                        padding: 0 9px;
                        color: #737783;
                        font-size: 12px;
                        top: -8px;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &_total {
            width: 40%;

            &_c {
                margin-bottom: 30px;
                display: flex;
                input {
                    display: flex;
                    width: 60%;
                    align-items: center;
                    border: 1px solid $line_gray;
                    border-radius: 10px 0 0 10px;
                    padding: 16px 13px;font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    border-right: none;

                    &:focus {
                        outline: none;
                        border-color: $black_text;
                    }

                    &::placeholder {
                        font-weight: 300;
                        color: #737783;
                    } 
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    padding: 16px;
                    color: #fff;
                    text-transform: uppercase;
                    background-color: $dark_gray;
                    border-radius: 0 10px 10px 0;font-weight: 600;
                    font-size: 13px;
                    line-height: 16px;

                    @include def-anim;

                    &:hover {
                        background-color: #414E60;
                    }
                }
            }

            &_p {
                border-radius: 10px;
                border: 1px solid $line_gray;
                .info {
                    padding: 25px;
                    border-bottom: 1px solid $line_gray;

                    &__item {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 18px;

                        &:last-child {
                            margin: 0;
                        }
                        .name {
                            font-size: 15px;
                            line-height: 16px;
                            color: $dark_gray;
                        }

                        .value {
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 16px;
                            text-align: right;
                        }
                    }

                    &__item.bonus {

                        .value {
                            color: #47A12A;
                            font-weight: 400;
                        }
                    }
                }

                .total {
                    padding: 25px;

                    &__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;

                        .name {
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 16px;
                        }

                        .value {
                            font-weight: 700;
                            font-size: 17px;
                            line-height: 16px;
                        }
                    }

                    &__btn {
                        margin-bottom: 14px;
                        button {
                            width: 100%;
                        }
                    }

                    &__ch {

                        font-size: 13px;
                            color: $dark_gray;

                            a {
                                text-decoration: underline;
                                text-decoration-style: dotted;
                            }
                    }
                }
            }
        }
    }

    
}