.category {

    &__in {

    }

    &__head {
        margin-bottom: 35px;

        &_title {

        }
    }

    &__body {
        display: flex;
        justify-content: space-between;

        &_filter {
            width: 20%;

            &_head {
                display: none;
            }
            &_action {
                
                &_tabs {
                    display: flex;
                    // flex-direction: column;
                    width: 100%;
                    margin-bottom: 50px;
                    border-bottom: 1px solid #E1E5EE;
                }
                
                &_tab.active {
                    color: #fff;
                    background-color: $red;
                    border-color: $red;
                }

                &_tab {
                    @include def-anim;
                    min-width: 150px;
                    padding: 10px;
                    font-size: 15px;
                    line-height: 16px;
                    color: $dark_gray;
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                   
                }

                &_btn {
                    padding: 10px 5px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 16px;
                    border: 1px solid $line_gray;
                    border-radius: 5px;

                    svg {
                        margin-left: 10px;
                    }
                    

                }
            }
            &_in {

                .filter__item {
                    margin-bottom: 46px;

                    &_title {
                        margin-bottom: 20px;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 18px;
                    }

                    &_inputs {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;

                        input {
                            width: 48%;
                            padding: 7px;
                            border: 1px solid $line_gray;
                            border-radius: 5px;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 16px;
                        }
                    }

                    &_body.range-test {
                        padding-right: 20px;
                    }

                    .radio {
                        margin-bottom: 10px;

                        label {
                            
                        }
                        &:last-child {
                            // margin: 0;
                        }
                    }

                    &_body.filter__item_body_drop {
                        height: 0;
                        overflow: hidden;
                        @include def-anim;

                    }

                    &_body_drop.active {
                        
                        
                    }

                    &_more {
                        color: $blue;
                        font-size: 14px;
                        line-height: normal;
                        margin-top: 10px;  
                        
                        svg {
                            path {
                                stroke: $blue;
                            }
                        }
                    }

                    &_more.active {

                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    
                }
            }
        }

        &_list {
            width: 73%;
            
        }

        &_list .products {

            .products__item {
                width: calc((100% / 3) - 25px);
            }
        }
    }
}