.header {


    &__in {
        padding: 18px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        display: none;
    }

    &__tb_links {
        display: none;
    }

    &__tel {
        display: none;
    }

    &__search {
        display: none;
    }

    &__contacts {
        display: flex;
        align-items: center;
        width: 33%;
        justify-content: space-between;
        


        &_item {
            display: block;
            font-size: 12px;
            line-height: 16px;
            color: $dark_gray;
            padding-left: 26px;
            position: relative;
            @include def-anim;

            &:hover {
                span {
                    color: $red;
                }
            }
            span {
                @include def-anim;
                font-size: 15px;
                line-height: 16px;
                font-weight: 600;
                display: block;
                margin-bottom: 3px;
                color: $black_text;
            }

            &:nth-child(1) {

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: url('../img/whatsapp.svg');
                }
            }

            &:nth-child(2) {

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: url('../img/quality.svg');
                }
            }
        }
    }

    &__logo {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__ex {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        
    }

    &__user {
        display: none !important;

        &:hover {

            .lkMenu {
                transform: translateX(-42%) translateY(100%) !important;
            }
        }
        .lkMenu {
            left: 0;
            transform: translateX(-42%) translateY(70%);

            &:after {
                left: calc(50% - 10px);
            }
        }

        &:after {
            display: none !important;
        }
    }

    &__select {
        
        .choices {  
            width: 267px;
            

            &__inner {
                background-color: transparent;
                font-size: 13px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                padding-bottom: 5px !important;
                min-height: unset;
            }

            .choices__list.choices__list--dropdown {
                // // max-height: 571px;
                max-height: calc(100vh - 100px);
                
                border-radius: 4px;
                .choices__list {
                    height: 100%;
                    max-height: calc(100vh - 100px - 39px);
                    
                }
               

                .choices__group {

                    margin-top: 17px;
                    .choices__heading {
                        padding: 0 14px !important;
                        color: $black_text;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        text-transform: uppercase;
                        border: none !important;
                        margin-bottom: 12px;
                    }
                }
                .choices__input {
                    padding: 9px 13px;
                    
                    border: 1px solid $line_gray;
                }
                .choices__item {
                    padding: 4px;
                    padding-left: 28px;
                    color: $dark_gray;
                    font-size: 13px;
                    font-weight: 400;

                    &:hover {
                        background-color: #fff;
                        color: $red;
                    }
                }

                .choices__item.is-highlighted {
                    background-color: #fff;
                    color: $red;
                }
            }
        }
    }

    &__basket {
        font-size: 15px;
        line-height: 16px;
        padding-left: 40px;
        position: relative;
        @include def-anim;

        &:hover {
            color: $red;

            &:after {
                content: url('../img/basket-active.svg');
            }
        }

        &:after {
            position: absolute;
            content: url('../img/basket.svg');
            top: calc(50% - 13.5px);
            left: 0;
        }

        span {
            position: absolute;
            left: 16px;
            top: -11px;
            z-index: 2;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background-color: $red;
            border: 2px solid #fff;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 12px;
        }
    }
}