.prev {


    &__in {
        // margin: 50px 0;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        // max-height: 450px;
    }

    &__slider {
        border-radius: 10px;
        height: 450px;
        overflow: hidden;
        width: 790px;
        position: relative;

        

        &_wr {
            height: 100%;
          
        }

        &_sl {
            background-color: $light_gray;
            height: 100%;
        }

        .prev__left {
            position: absolute;
            z-index: 5;
            top: calc(50% - 20px);
            left: 20px;
            cursor: pointer;
        }

        .prev__right {
            position: absolute;
            z-index: 5;
            top: calc(50% - 20px);
            right: 20px;
            cursor: pointer;
        }

        .prev__pag {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            gap: 20px;
            padding: 21px 0;
            z-index: 5;

            .prev__pag_item {
                cursor: pointer;
                @include def-anim;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: #FFFFFF;
                opacity: 0.5;

            }

            .prev__pag_cur {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: $red;
            }

            .prev__pag_active {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: $red;
                opacity: 1;
            }
        }
    }

    &__ex {
        max-width: 380px;
        width: 100%;
        min-height: 100%;
        &_item {

        }

        &_item.prev__ex_item_first {
            height: 165px;
            background-color: $light_gray;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 30px;
        }
        &_item.prev__ex_item_an {
            max-height: 255px;
            height: 100%;
            
        }
        .prev__ex_item_first {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }

        .prev__ex_item_an {
            border-radius: 10px;
            overflow: hidden;
            background-color: $light_gray;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }


    }
}


