.selection {
    background-color: $menu_down;
    padding-bottom: 20px;
    &__in {

    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;


        &_title.active {
            svg {
                transform: rotate(0);
            }
        }

        &_title {
            cursor: pointer;
            margin-right: 46px;
            padding: 10px 15px;
            border: 1px solid $line_gray;
            border-radius: 0px 0px 6px 6px;
            text-transform: uppercase;
            border-top: none;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            
            svg {
                margin-left: 30px;
                @include def-anim;
                transform: rotate(180deg);
                // display: none;
                
            }
        }

        &_ex.active {
            opacity: 1;
            padding: 21px 0 0 0;
        }
        

        &_ex {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex: 1 0 auto;
            
            height: 0;
            overflow: hidden;
            @include def-anim;
            box-sizing: content-box;
            padding-top: 0;
            opacity: 0;

            &_q {
                font-size: 15px;
                line-height: 18px;
                color: $dark_gray;

                &:hover {
                    text-decoration: underline;
                    text-decoration-style: dotted;
                }
            }

            &_r {
                padding: 5px 10px 5px 10px;
                border: 1px solid $line_gray;
                font-size: 15px;
                line-height: 16px;
                display: flex;
                align-items: center;
                
                color: $dark_gray;
                cursor: pointer;
                border-radius: 5px; 
                @include def-anim;

                &:hover {
                    border-color: $black_text;
                    color: $black_text;

                    svg {
                        path {
                            fill: $black_text;
                        }
                    }
                }

                &:active {
                    border-color: $black_text;
                    color: $black_text;

                    svg {
                        path {
                            fill: $black_text;
                        }
                    }
                }

                svg {
                    margin-left: 10px;
                }

            }
        }
    }

    &__body.active {
        opacity: 1;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        box-sizing: content-box;
        @include def-anim;
        opacity: 0;
        height: 0;
        overflow: hidden;
        &_item {
            .form__name {
                margin-bottom: 20px;
            }

            &_wr {

            }


            &_input {
                margin-bottom: 10px;
            }
        }

        &_item.range {
            .form__name {
                margin-bottom: 20px;
            }
        }

        &_btn {
            // align-self: flex-end;
            margin-bottom: 20px;
            align-items: center;
            justify-content: space-between;
            display: flex;

            &_r {
                display: none;
            }
        }
    }
}