.seo {
    padding: 90px 0;
    /*border-top: 1px solid $line_gray;*/

    &__in {

    }

    &__title {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__body {
        font-size: 16px;
        line-height: 26px;

        ul {
            padding-left: 15px;
            li {
                list-style: disc;
            }
        }

        &_ex {
            height: 0;
                @include def-anim;
                overflow: hidden;
        }
    }



    &__more {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &_btn {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $blue;
        }
            
    }
}