.sidebar {
    background: #FFFFFF;
    border: 1px solid #E1E5EE;
    border-radius: 10px;

    &__main {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_avatar {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_name {
            text-align: center;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
        }

        &_tel {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;

        }
    }

    &__body {

        &_item.active {
            a {
                background-color: #F5F6FA;
            }
        }

        &_item {
            border-top: 1px solid #E1E5EE;
            

            &:last-child {
                border-bottom: none;
            }



            a {
                display: flex;
                align-items: center;
                padding: 15px 15px 15px 70px;
                position: relative;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #737783;
                @include def-anim;

                &:hover {
                    background-color: #F5F6FA;
                }

                &:after {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 30px;
                    top: calc(50% - 10px);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    content: '';
                }
            }
        }

        &_item-orders {
            a {
                &:after {
                    background-image: url('../img/lk-submenu-1.svg');
                }
            }
        }

        &_item-profile {
            a {
                &:after {
                    background-image: url('../img/lk-submenu-2.svg');
                }
            }
        }

        &_item-favs {
            a {
                &:after {
                    background-image: url('../img/lk-submenu-3.svg');
                }
            }
        }

        &_item-settings {
            a {
                &:after {
                    background-image: url('../img/lk-submenu-4.svg');
                }
            }
        }

        &_item-exit {
            a {
                &:after {
                    background-image: url('../img/lk-submenu-5.svg');
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .sidebar {
        display: none ;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        //background-color: #fff;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        @include def-anim;
        background-color: #F5F6FA;
        padding-top: 58px;
        padding-bottom: 61px;
        z-index: 10;
        &__main {
            background-color: #fff;
            flex-direction: row;
            padding-left: 50px;
            padding-right: 50px;
            justify-content: center;
            &_avatar {
                margin-right: 25px;
            }
            &_name {
                text-align: left;
            }

            &_tel {
                text-align: left;
            }
        }
        &__body {
            background-color: #fff;


            &_item {
                a {
                    &:before {
                        width: 10px;
                        height: 10px;
                        content: '';
                        position: absolute;
                        top: calc(50% - 5px);
                        right: 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../img/arrow.svg');
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .sidebar.active {
        transform: translateX(0);
        
    }
}