.button {
    padding: 16px 44px;
    border-radius: 8px;
    background-color: $red;
    color: #fff;
    // text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    @include def-anim;

    &:hover {
        
        background-color: #B91935;
    }


    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        background-color: $small_text;
        color: #fff;
        border-color: $small_text;
    }

}

.button.button-blue {
    background-color: #0089D0;

    &:hover {
        background-color: #009CED;
    }
}

.button.button-gray {
    background-color: #6A6C70;

    &:hover {
        background-color: #83868C;
    }
}


.button.button-light {
    background-color: #F0F0F0;
    color: var(--text);

    &:hover {
        background-color: #E8E8E8;
    }
}




