.product {
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    @include def-anim;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__like {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dc {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #DE2747;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }

    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    }

    &__like {
        width: 25px;
        height: 25px;
        background-image: url('../img/like.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

    &__like.active {
        background-image: url('../img/like-fill.svg');
    }

    &__img {
        display: flex;
        align-self: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 37px;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            max-height: 118px;
            object-fit: contain;
        }
    }

    &__body {
        flex: 1 0 auto;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;

        &_fl {
            margin-bottom: 10px;
            &_item {
                
                &_term {
                    font-size: 14px;
                    line-height: 16px;

                }

                &_radius {
                    font-size: 14px;
                    line-height: 16px;
                    color: $light_gray;
                }
            }
        }

        &_name {
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 15px;
        }

        &_price {
            display: flex;
            align-items: center;
            gap: 8px;

            .new {
                font-weight: bold;
                font-size: 17px;
                line-height: 16px;
                // color: $red;
            }

            .old {
                font-size: 15px;
                line-height: 16px;
                text-decoration-line: line-through;
            }
        }
        &_price {
            padding-bottom: 7px;
        }

        &_action {
            flex: 1 0 auto;

            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            
            &_btn {
                // width: 100%;
                .button {
                    // width: 100%;
                    padding: 11px;
                }
            }
        }
    }
}  