.radio {

    input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        appearance: none;
        pointer-events: none;
    }

    label {
        font-size: 14px;
        line-height: 14px;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: block;

        &:hover {

            &:after {
                content: url('../img/radio-hover.svg');
            }
        }

        &:after {
            position: absolute;
            content: url('../img/radio.svg');
            top: 2px;
            left: 2px;
            width: 13px;
            height: 13px;
            @include def-anim;

            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    input:checked ~ label {

        &:after {
            content: url('../img/radio-checked.svg');
        }
    }
}