.table_wr {
    border-radius: 10px;
    border: 1px solid $line_gray;
    overflow: hidden;
}

.table {
    
    
    border-collapse: collapse;
    border-spacing: none;
    width: 100%;
    &__headrow {
        border-bottom: 1px solid $line_gray;
        background-color: #F5F6FA;

        
        &_item {
            padding: 20px 25px;
            text-align: left;
            color: $dark_gray;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__row.hover {
        &:hover {
            background-color: $red;
            border-color: $red;

            .table__row_item {
                color: #fff;
            }

        }
    }

    &__row {
        border-bottom: 1px solid $line_gray;
        @include def-anim;
        cursor: pointer;

        

        &_item {
            padding: 20px 25px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;

            

            .choices.is-open {
                .choices__inner {
                    border-color: $black_text;
                    z-index: 5;
                    position: relative;
                }

                
            }
            .choices {

                &__inner {
                    border: 1px solid $line_gray;
                    background-color: #fff;
                    border-radius: 4px;
                    min-height: unset;
                    padding: 15px 20px;
                    font-size: 13px !important;
                    line-height: 16px !important;

                    .choices__list--single {
                        padding: 0;
                        padding-right: 5px;
                    }

                    
                }
                .choices__list--dropdown{
                    border: 1px solid $line_gray !important;
                    background-color: #fff;
                    z-index: 5;
                }
            }
            

            .name {
                display: none;
            }

            span {
                display: block;
            }

            a {
                color: $red;
                text-decoration: underline;
                text-decoration-style: dotted;
                text-decoration-color: $light_gray;
            }


            button {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 1px solid $line_gray;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        padding: 30px 0;

        &_btn {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg {
                path {
                    @include def-anim;
                }
            }

            &:first-child {
                transform: rotate(180deg);
            }

            &:hover {
                svg {
                    path {
                        stroke: #000;
                    }
                }
            }
        }

        &_list {
            display: flex;
        }

        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 5px;
            @include def-anim;
            font-weight: 500;
            font-size: 17px;
            line-height: 16px;
            margin: 0 5px;
        }

        .bc {
            display: flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }

        &_item.active {
            border-color: $red;
        }
    }
}