// COLORS
$black_text: #3F4249;
$dark_gray: #737783;
$light_gray:#9497A3;
$line_gray:#E1E5EE;
$menu_down: #F5F6FA;
$reg_gray: #F0F0F0;
$black: #1F1F1F;
$small_text: #6A6C70;
$red: #DE2747;
$green: #008D49;
$blue: #0089D0;

@mixin def-anim {
    transition: all .3s ease;
}