* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, button {
  background-color: transparent;
  border: none;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  cursor: pointer;
}

*::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 4px;
  background-color: #E1E5EE;
}
*::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background-color: #737783;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }

  .main {
    padding-top: 93px;
  }
}
.form__name {
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
}

.w-230 {
  width: 230px !important;
}

.w-270 {
  width: 270px !important;
}

.section__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .section__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.header__in {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: none;
}
.header__tb_links {
  display: none;
}
.header__tel {
  display: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contacts_item {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #737783;
  padding-left: 26px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__contacts_item:hover span {
  color: #DE2747;
}
.header__contacts_item span {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
  color: #212121;
}
.header__contacts_item:nth-child(1):after {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/whatsapp.svg");
}
.header__contacts_item:nth-child(2):after {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/tel.svg");
}
.header__logo {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__ex {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}
.header__user {
  display: none;
}
.header__select .choices {
  width: 267px;
}
.header__select .choices__inner {
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  padding-bottom: 5px !important;
  min-height: unset;
}
.header__select .choices .choices__list.choices__list--dropdown {
  max-height: calc(100vh - 100px);
  border-radius: 4px;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__list {
  max-height: calc(100vh - 100px);
}
.header__select .choices .choices__list.choices__list--dropdown .choices__group {
  margin-top: 17px;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__group .choices__heading {
  padding: 0 14px !important;
  color: #212121;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none !important;
  margin-bottom: 12px;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__input {
  padding: 9px 13px;
  border: 1px solid #E1E5EE;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__item {
  padding: 4px;
  padding-left: 28px;
  color: #737783;
  font-size: 13px;
  font-weight: 500;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__item:hover {
  background-color: #fff;
  color: #DE2747;
}
.header__select .choices .choices__list.choices__list--dropdown .choices__item.is-highlighted {
  background-color: #fff;
  color: #DE2747;
}
.header__basket {
  font-size: 15px;
  line-height: 16px;
  padding-left: 40px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__basket:hover {
  color: #DE2747;
}
.header__basket:after {
  position: absolute;
  content: url("../img/basket.svg");
  top: calc(50% - 13.5px);
  left: 0;
}
.header__basket span {
  position: absolute;
  left: 16px;
  top: -11px;
  z-index: 2;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #DE2747;
  border: 2px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 12px;
}

.nav {
  background-color: #F5F6FA;
  border: 1px solid #E1E5EE;
}
.nav__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__select {
  display: none;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__menu_item_drop {
  padding: 0 !important;
  height: 100%;
}
.nav__menu_item_drop .nav__menu_item_head {
  height: 100%;
}
.nav__menu_item {
  position: relative;
  padding: 14px 0;
  display: block;
}
.nav__menu_item_head {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__menu_item_head svg {
  margin-left: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__menu_item_head svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__menu_item_head:hover {
  color: #DE2747;
}
.nav__menu_item_head:after {
  top: 0;
  left: 0;
  position: absolute;
}
.nav__menu_item:nth-child(1) .nav__menu_item_head:after {
  content: url("../img/nav1.svg");
  top: calc(50% - 8px);
}
.nav__menu_item:nth-child(2) .nav__menu_item_head {
  padding-left: 20px;
}
.nav__menu_item:nth-child(2) .nav__menu_item_head:after {
  content: url("../img/nav2.svg");
  top: calc(50% - 10px);
}
.nav__menu_item:nth-child(3) .nav__menu_item_head {
  padding-left: 25px;
}
.nav__menu_item:nth-child(3) .nav__menu_item_head:after {
  content: url("../img/nav3.svg");
}
.nav__menu_item_list {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: -1;
  background-color: #fff;
  width: 740px;
  border: 1px solid #E1E5EE;
  border-top: none;
  -webkit-box-shadow: 0px 1px 1px rgba(133, 131, 131, 0.53);
          box-shadow: 0px 1px 1px rgba(133, 131, 131, 0.53);
  border-radius: 0px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 25px;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__menu_item_list .item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E5EE;
}
.nav__menu_item_list .item__list_i {
  padding: 15px 0;
  border-bottom: 1px solid #E1E5EE;
}
.nav__menu_item_list .item__list_i a {
  display: block;
}
.nav__menu_item_list .item__list_i:last-child {
  border: none;
}
.nav__menu_item_list .item__list_i:hover a {
  color: #DE2747;
}
.nav__menu_item_drop.active .nav__menu_item_head svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__menu_item_drop.active .nav__menu_item_head svg path {
  stroke: #DE2747;
}
.nav__menu_item_drop.active .nav__menu_item_list {
  z-index: 20;
}
.nav__user {
  font-size: 15px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}
.nav__user_del {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}
.nav__user_del:hover {
  color: #DE2747;
}
.nav__user_contacts {
  padding: 0 15px;
  padding-right: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100%;
}
.nav__user_contacts:hover {
  color: #DE2747;
}
.nav__user_contacts:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #E1E5EE;
}
.nav__user_lk {
  padding: 0 15px;
  padding-left: 30px;
  margin-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.nav__user_lk:after {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  content: url("../img/user.svg");
}
.nav__user_lk:hover {
  color: #DE2747;
}

.prev__in {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prev__slider {
  border-radius: 10px;
  height: 450px;
  overflow: hidden;
  width: 790px;
  position: relative;
}
.prev__slider_wr {
  height: 100%;
}
.prev__slider_sl {
  background-color: #737783;
  height: 100%;
}
.prev__slider_sl:nth-child(odd) {
  background-color: #008D49;
}
.prev__slider .prev__left {
  position: absolute;
  z-index: 5;
  top: calc(50% - 20px);
  left: 20px;
  cursor: pointer;
}
.prev__slider .prev__right {
  position: absolute;
  z-index: 5;
  top: calc(50% - 20px);
  right: 20px;
  cursor: pointer;
}
.prev__slider .prev__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 20px;
  padding: 21px 0;
  z-index: 5;
}
.prev__slider .prev__pag .prev__pag_item {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #FFFFFF;
  opacity: 0.5;
}
.prev__slider .prev__pag .prev__pag_cur {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #DE2747;
}
.prev__slider .prev__pag .prev__pag_active {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #DE2747;
  opacity: 1;
}
.prev__ex {
  max-width: 380px;
  width: 100%;
  min-height: 100%;
}
.prev__ex_item.prev__ex_item_first {
  height: 165px;
  background-color: #9497A3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.prev__ex_item.prev__ex_item_an {
  max-height: 255px;
  height: 100%;
}
.prev__ex .prev__ex_item_an {
  border: 2px solid #E1E5EE;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px 20px;
}
.prev__ex .prev__ex_item_an_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.prev__ex .prev__ex_item_an_subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #9497A3;
  margin-bottom: 14px;
}
.prev__ex .prev__ex_item_an_indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item:nth-child(1) {
  padding-right: 34px;
  border-right: 0.5px solid #E1E5EE;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item:nth-child(2) {
  padding-left: 34px;
  border-left: 0.5px solid #E1E5EE;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item_title {
  text-align: center;
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item_value {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid #E1E5EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item_value .value {
  position: relative;
  padding-right: 28px;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item_value .value .h {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}
.prev__ex .prev__ex_item_an_indicators .indicator__item_value .value .m {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #E1E5EE;
  right: 0;
  top: 5px;
}

.selection {
  background-color: #F5F6FA;
  padding-bottom: 20px;
}
.selection__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.selection__head_title {
  margin-right: 46px;
  padding: 19px 26px;
  border: 1px solid #E1E5EE;
  border-radius: 0px 0px 6px 6px;
  text-transform: uppercase;
  border-top: none;
}
.selection__head_title svg {
  display: none;
}
.selection__head_ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.selection__head_ex_q {
  font-size: 15px;
  line-height: 18px;
  color: #737783;
}
.selection__head_ex_q:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.selection__head_ex_r {
  padding: 5px 10px 5px 10px;
  border: 1px solid #E1E5EE;
  font-size: 15px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #737783;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.selection__head_ex_r:hover {
  border-color: #212121;
  color: #212121;
}
.selection__head_ex_r:hover svg path {
  fill: #212121;
}
.selection__head_ex_r:active {
  border-color: #212121;
  color: #212121;
}
.selection__head_ex_r:active svg path {
  fill: #212121;
}
.selection__head_ex_r svg {
  margin-left: 10px;
}
.selection__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.selection__body_item .form__name {
  margin-bottom: 20px;
}
.selection__body_item_input {
  margin-bottom: 10px;
}
.selection__body_item.range .form__name {
  margin-bottom: 20px;
}
.selection__body_btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
}

.pop__in {
  padding: 90px 0;
}
.pop__title {
  margin-bottom: 35px;
}

.adv {
  background-color: #F5F6FA;
}
.adv__in {
  padding: 60px 0;
}
.adv__title {
  margin-bottom: 16px;
}
.adv__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #1F1F1F;
  margin-bottom: 36px;
}
.adv__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.adv__item {
  overflow: hidden;
  margin-bottom: 20px;
  width: 31.847133758%;
  background-color: #fff;
  border-radius: 10px;
}
.adv__item_img {
  width: 100%;
}
.adv__item_img img {
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}
.adv__item_body {
  padding: 22px 25px;
}
.adv__item_body_title {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.adv__item_body_text {
  font-size: 15px;
  line-height: 24px;
  color: #9497A3;
}

.conn__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.conn__img {
  width: 30%;
}
.conn__thumbs {
  display: none;
}
.conn__content {
  position: relative;
  height: 100%;
}
.conn__content .conn__prev {
  position: absolute;
  top: -40px;
  left: calc(50% - 20px);
  z-index: 10;
  cursor: pointer;
}
.conn__content .conn__next {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 20px);
  z-index: 10;
  cursor: pointer;
}
.conn__slider {
  max-height: 500px;
  width: 278px;
}
.conn__slider_wr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.conn__slider_sl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 172px;
  width: 100%;
  overflow: hidden;
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.conn__slider_sl_img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  max-height: 100%;
  border-radius: 10px;
}
.conn__slider_sl_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.conn__slider_sl.swiper-slide-active {
  padding: 5px;
  border-color: #212121;
}
.conn__body {
  width: 30%;
}
.conn__title {
  margin-bottom: 27px;
}
.conn__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 39px;
}
.conn__link {
  padding: 25px;
  padding-left: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height, or 107% */
  text-transform: uppercase;
  border-top: 1px solid #E1E5EE;
  border-bottom: 1px solid #E1E5EE;
}
.conn__link_item {
  display: block;
  padding-left: 40px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.conn__link_item:hover {
  color: #DE2747;
}
.conn__link_item:after {
  position: absolute;
  content: url("../img/conn_insta.svg");
  top: calc(50% - 11px);
  left: 0;
}

.seo {
  padding: 90px 0;
  border-top: 1px solid #E1E5EE;
}
.seo__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.seo__body {
  font-size: 16px;
  line-height: 26px;
}
.seo__body ul {
  padding-left: 15px;
}
.seo__body ul li {
  list-style: disc;
}

.footer {
  color: #fff;
  background-color: #212121;
}
.footer__top {
  padding: 62px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__top_logo {
  display: block;
}
.footer__top_contacts_item {
  display: block;
  margin-bottom: 25px;
  padding-left: 26px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #9497A3;
}
.footer__top_contacts_item:first-child:after {
  position: absolute;
  content: url("../img/whatsapp-f.svg");
  top: 0;
  left: 0;
}
.footer__top_contacts_item:last-child:after {
  position: absolute;
  content: url("../img/tel-f.svg");
  top: 0;
  left: 0;
}
.footer__top_contacts_item span {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  display: block;
  margin-bottom: 3px;
}
.footer__top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 87px;
}
.footer__top_nav_item {
  margin-bottom: 20px;
}
.footer__top_nav_item:hover a {
  color: #fff;
}
.footer__top_nav_item a {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #9497A3;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__top_ex .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  margin-bottom: 43px;
}
.footer__top_ex .soc__item {
  width: 49px;
  height: 49px;
  border: 1px solid #292929;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__top_ex .soc__item:hover {
  border-color: #DE2747;
}
.footer__top_ex .soc__item:hover svg path {
  fill: #DE2747;
}
.footer__top_ex .soc__item svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #fff;
}
.footer__top_ex .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.footer .ln {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.1;
}
.footer__bot {
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bot .pay {
  display: none;
}

.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}
.radio label {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.radio label:after {
  position: absolute;
  content: url("../img/radio.svg");
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio input:checked ~ label:after {
  content: url("../img/radio-checked.svg");
}

.radio-line-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.radio-line-wr .range-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 7.5px;
  left: 0;
  background-color: #E1E5EE;
}
.radio-line-wr .radio-line:nth-child(2) label {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.radio-line-wr .radio-line:nth-child(2) label:after {
  left: 0;
}
.radio-line-wr .radio-line:last-child label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.radio-line-wr .radio-line:last-child label:after {
  right: 0;
  left: unset;
}
.radio-line-wr .radio-line input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}
.radio-line-wr .radio-line label {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  max-width: 43px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.radio-line-wr .radio-line label:after {
  position: absolute;
  content: url("../img/radio.svg");
  top: 0;
  left: calc(50% - 7.5px);
}
.radio-line-wr .radio-line input:checked ~ label:after {
  content: url("../img/radio-checked.svg");
}

.button {
  padding: 16px 44px;
  border-radius: 8px;
  background-color: #DE2747;
  border: 1px solid #DE2747;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  color: #212121;
  background-color: transparent;
}
.button:active {
  color: #212121;
  background-color: transparent;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.button:disabled {
  background-color: #6A6C70;
  color: #fff;
  border-color: #6A6C70;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2%;
}
.products .product_wr {
  position: relative;
  max-width: 278px;
  width: 100%;
  height: 356px;
  margin-bottom: 30px;
}
.products .product_wr:hover .product {
  border-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  left: -11px;
}
.products .product_wr:hover .product .product__body_action {
  margin-top: 20px;
}
.products .product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 356px;
  border: 1px solid #E1E5EE;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products .product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 37px;
}
.products .product__img img {
  width: 100%;
  height: 100%;
  max-height: 118px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .product__body_fl {
  margin-bottom: 10px;
}
.products .product__body_fl_item_term {
  font-size: 14px;
  line-height: 16px;
}
.products .product__body_fl_item_radius {
  font-size: 14px;
  line-height: 16px;
  color: #9497A3;
}
.products .product__body_name {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 15px;
}
.products .product__body_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.products .product__body_price .new {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #DE2747;
}
.products .product__body_price .old {
  font-size: 15px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.products .product__body_action {
  height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}
.products .product__body_action_info {
  margin-bottom: 25px;
}
.products .product__body_action_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.products .product__body_action_info_item:last-child {
  margin-bottom: 0;
}
.products .product__body_action_info_item .name {
  font-size: 14px;
  line-height: 14px;
  color: #737783;
}
.products .product__body_action_info_item .value {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.products .product__body_action_btn {
  width: 100%;
}
.products .product__body_action_btn .button {
  width: 100%;
  padding: 11px;
}

.scroll-custom {
  overflow: hidden;
  overflow-y: scroll !important;
}
.scroll-custom::-webkit-scrollbar {
  width: 4px;
  background-color: #E1E5EE;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #737783;
}

.products__more {
  display: none;
}

@media (max-width: 600px) {
  .products__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__more_btn {
    padding: 16px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #DE2747;
    border-radius: 8px;
    max-width: 345px;
    width: 100%;
  }
  .products__more_btn:active {
    background-color: #DE2747;
    color: #fff;
  }
}
@media (max-width: 1200px) {
  .products .product_wr {
    max-width: unset;
    width: 31%;
  }
  .products .product_wr:hover .product {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 768px) {
  .products {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .product_wr {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .products .product_wr {
    width: 100%;
    margin-bottom: 15px;
  }
  .products .product_wr .product {
    width: 100%;
  }
}
.mobmenu.is-open {
  opacity: 1;
  z-index: 100;
}
.mobmenu.is-open .mobmenu__content {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobmenu {
  position: fixed;
  top: 91.6px;
  width: 100%;
  z-index: -1;
  height: calc(100vh - 91.6px);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobmenu__layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.mobmenu__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mobmenu__content {
  width: 70%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow-y: scroll;
}
.mobmenu__nav_item:nth-child(1) a:after {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  content: url("../img/nav1.svg");
}
.mobmenu__nav_item:nth-child(2) a:after {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  content: url("../img/nav2.svg");
}
.mobmenu__nav_item:nth-child(3) a:after {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  content: url("../img/nav3.svg");
}
.mobmenu__nav_item a {
  position: relative;
  display: block;
  padding: 18px 21px 18px 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #E1E5EE;
}
.mobmenu__nav_item_drop a {
  position: relative;
}
.mobmenu__nav_item_drop svg {
  display: none;
}
.mobmenu__nav_item_drop.active {
  background-color: #F5F6FA;
}
.mobmenu__nav_item_drop.active a {
  padding-left: 80px;
  padding-right: 0;
}
.mobmenu__nav_item_drop.active a:after {
  left: 55px;
}
.mobmenu__nav_item_drop.active svg {
  display: block;
  position: absolute;
  left: 20px;
}
.mobmenu__subnav_wr {
  padding: 0px 12px;
  height: 0;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.mobmenu__subnav {
  margin-bottom: 45px;
}
.mobmenu__subnav_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 24px;
}
.mobmenu__subnav_list {
  padding-left: 12px;
}
.mobmenu__subnav_item a {
  display: block;
  padding: 15px 10px 15px 0;
  border-bottom: 1px solid #E1E5EE;
}
.mobmenu__links_item a {
  display: block;
  padding: 18px 20px 18px 42px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  border-bottom: 1px solid #E1E5EE;
}
.mobmenu__user {
  display: block;
  padding: 18px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 43px;
}
.mobmenu__user svg {
  margin-right: 13px;
}
.mobmenu__contacts {
  padding-left: 16px;
}
.mobmenu__contacts_title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.mobmenu__contacts_item {
  margin-bottom: 18px;
}
.mobmenu__contacts_item a {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  padding-left: 25px;
  position: relative;
}
.mobmenu__contacts_item a:after {
  position: absolute;
  left: 0;
  top: 0;
}
.mobmenu__contacts_item:nth-child(1) a:after {
  content: url("../img/mob-icon-1.svg");
}
.mobmenu__contacts_item:nth-child(2) a:after {
  content: url("../img/mob-icon-2.svg");
}
.mobmenu__contacts_item:nth-child(3) a:after {
  content: url("../img/mob-icon-3.svg");
}
.mobmenu__contacts_item:nth-child(4) a:after {
  content: url("../img/mob-icon-4.svg");
}
.mobmenu__contacts_item:nth-child(5) a:after {
  content: url("../img/mob-icon-5.svg");
}
.mobmenu__contacts_item:nth-child(6) a:after {
  content: url("../img/mob-icon-6.svg");
}

@media (max-width: 1200px) {
  .prev__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .prev__slider {
    width: 100%;
    margin-bottom: 25px;
  }
  .prev__ex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: unset;
    min-height: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 227px;
  }
  .prev__ex_item {
    height: 100%;
  }
  .prev__ex_item.prev__ex_item_first {
    width: 48%;
    height: 100%;
    margin-bottom: 0;
  }
  .prev__ex_item.prev__ex_item_an {
    width: 48%;
    max-height: unset;
    height: 100%;
  }
  .prev__ex .prev__ex_item_an_indicators .indicator__item_value {
    width: 98px;
    height: 98px;
  }
  .prev__ex .prev__ex_item_an_indicators .indicator__item_value .value .h {
    font-size: 18px;
    line-height: 21px;
  }
  .prev__ex .prev__ex_item_an_indicators .indicator__item_value .value .m {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 600px) {
  .prev__left {
    display: none;
  }
  .prev__right {
    display: none;
  }
  .prev__slider {
    height: 366px;
    margin-bottom: 0;
  }
  .prev__ex {
    display: none;
  }
}
@media (max-width: 1200px) {
  .selection {
    padding-bottom: 0;
  }
  .selection__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .selection__head_title {
    width: 100%;
    border-left: none;
    border-right: none;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
  }
  .selection__head_title svg {
    display: block;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .selection__head_title.active svg {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  .selection__head_ex {
    padding-top: 21px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-top: 0;
    opacity: 0;
  }
  .selection__head_ex.active {
    opacity: 1;
    padding: 30px 0;
  }
  .selection__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .selection__body_btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 38px;
  }
  .selection__body.active {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .selection__body_item {
    width: 100% !important;
  }
  .selection__body_item:nth-child(1) .selection__body_item_wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10%;
  }
}
@media (max-width: 600px) {
  .pop__in {
    padding: 30px 0;
  }
}
@media (max-width: 1200px) {
  .adv__in {
    padding: 45px 0;
  }
  .adv__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .adv__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .adv__in {
    padding: 30px 0;
  }
}
@media (max-width: 1200px) {
  .conn__in {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 45px 0;
  }
  .conn__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .conn__content {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .conn__body {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 60px;
  }
  .conn__title {
    margin-bottom: 15px;
  }
  .conn__text {
    margin-bottom: 15px;
  }
  .conn__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .conn__in {
    padding: 50px 0;
  }
  .conn__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 600px) {
  .conn__in {
    padding: 30px 0;
  }
  .conn__img {
    display: none;
  }
  .conn__content {
    width: 100%;
  }
  .conn__content .conn__prev {
    display: none;
  }
  .conn__content .conn__next {
    display: none;
  }
  .conn__slider {
    width: 100%;
    margin-bottom: 20px;
  }
  .conn__slider_sl {
    width: unset;
    height: 244px;
    padding: 12px;
  }
  .conn__slider_sl.swiper-slide-active {
    padding: 12px;
  }
  .conn__thumbs {
    display: block;
  }
  .conn__thumbs_sl {
    border-radius: 10px;
    overflow: hidden;
  }
  .conn__thumbs_sl img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 1200px) {
  .footer__top {
    padding: 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__top_ex {
    width: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer__top_ex .soc {
    margin-bottom: 0;
  }
  .footer__top_ex .pay {
    display: none;
  }
  .footer__top_logo {
    width: 40%;
  }
  .footer__top_nav {
    width: 60%;
    padding-top: 50px;
  }
  .footer__top_contacts {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }
  .footer__bot {
    position: relative;
  }
  .footer__bot .pay {
    position: absolute;
    right: 0;
    top: calc(50% - 12.5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
}
@media (max-width: 700px) {
  .footer__top_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .footer__top_contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__top_nav {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top_ex {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top_ex .soc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__bot .pay {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header__in {
    padding: 15px 0;
  }
  .header__contacts {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contacts_item {
    width: 100%;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .header__contacts_item:last-child {
    margin: 0;
    display: none;
  }
  .header__select {
    display: none;
  }
  .header__logo {
    width: 20%;
    margin: 0 40px;
  }
  .header__logo img {
    height: 57px;
  }
  .header__ex {
    width: 100%;
  }
  .header__basket div {
    display: none;
  }
  .header__user {
    display: block;
  }
  .header__tb_links {
    display: block;
  }
  .header__tb_links .link {
    display: block;
    margin-bottom: 9px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    line-height: 16px;
  }
  .header__tb_links .link:hover {
    color: #DE2747;
  }
}
@media (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
  .header__burger {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .header__burger_btn.active span:nth-child(1) {
    top: calc(50% - 1.5px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger_btn.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burger_btn.active span:nth-child(3) {
    bottom: calc(50% - 1.5px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__burger_btn {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 26px;
    height: 21px;
  }
  .header__burger_btn span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger_btn span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .header__burger_btn span:nth-child(2) {
    top: calc(50% - 1.5px);
    left: 0;
    background-color: #DE2747;
    opacity: 1;
  }
  .header__burger_btn span:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  .header__contacts {
    display: none;
  }
  .header__user {
    display: none;
  }
  .header__ex {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
  }
  .header__tel {
    display: block;
  }
  .header__tb_links {
    display: none;
  }
}
@media (max-width: 1200px) {
  .nav__user {
    display: none;
  }
  .nav__select {
    display: block;
    padding: 7px 0;
  }
  .nav__select .choices {
    width: 210px;
  }
  .nav__select .choices__inner {
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 10px;
    padding-bottom: 5px !important;
    min-height: unset;
    border: 1px solid #E1E5EE !important;
    background-color: #fff;
    border-radius: 4px;
  }
  .nav__select .choices .choices__list.choices__list--dropdown.is-active {
    z-index: 20;
  }
  .nav__select .choices .choices__list.choices__list--dropdown {
    border-radius: 4px;
    max-height: calc(100vh - 100px);
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__list {
    max-height: calc(100vh - 100px);
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__group {
    margin-top: 17px;
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__group .choices__heading {
    padding: 0 14px !important;
    color: #212121;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: none !important;
    margin-bottom: 12px;
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__input {
    padding: 9px 13px;
    border: 1px solid #E1E5EE;
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__item {
    padding: 4px;
    padding-left: 28px;
    color: #737783;
    font-size: 13px;
    font-weight: 500;
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__item:hover {
    background-color: #fff;
    color: #DE2747;
  }
  .nav__select .choices .choices__list.choices__list--dropdown .choices__item.is-highlighted {
    background-color: #fff;
    color: #DE2747;
  }
  .nav__menu {
    gap: 30px;
  }
  .nav__menu_item.nav__menu_item_drop .nav__menu_item_list {
    top: 51px;
    width: calc(100vw - 94px);
  }
}
@media (max-width: 768px) {
  .nav__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: unset;
    width: 100%;
    margin-right: 30px;
  }
  .nav__menu_item:nth-child(1) span {
    display: none;
  }
  .nav__menu_item:nth-child(2) .nav__menu_item_head:after {
    top: -4px;
  }
}
@media (max-width: 600px) {
  .nav__menu {
    display: none;
  }
  .nav__select {
    width: 100%;
  }
  .nav__select .choices {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .seo__in {
    padding: 61px 0;
  }
}