@media (max-width: 1200px) {

    .footer {

        &__top {
            padding: 30px 0;
            flex-wrap: wrap;

            &_ex {
                width: 100%;
                order: 5;

                .soc {
                    margin-bottom: 0;
                }

                .pay {
                    display: none;
                }
            }

            &_logo {
                width: 40%;
            }

            &_nav {
                width: 60%;
                padding-top: 50px;
            }

            &_contacts {
                order: 4;
                width: 100%;
            }
        }

        &__bot {
            position: relative;

            .pay {
                position: absolute;
                right: 0;
                top: calc(50% - 12.5px);
                display: flex;
                gap: 25px;
            }
        }
    }

    
}

@media (max-width: 700px) {

    .footer {

        &__top {

            &_logo {
                width: 100%;
                display: flex;justify-content: center;
                margin-bottom: 20px;
            }

            &_contacts {
                order: 2;
                display: flex;
                justify-content: space-evenly;
            }

            &_nav {
                order: 4;
                width: 100%;
                justify-content: center;
            }

            &_ex {
                order: 3;
                justify-content: center;

                .soc {
                    justify-content: center;
                }

                .pay {
                    
                }
            }
        }

        &__bot {
            .pay {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {

    .footer {


        &__top {

            &_contacts {
                justify-content: space-between;
                &_item {
                    span {
                        font-size: 13px;
                    }
                }
            }
            &_nav {
                gap: 0;
                justify-content: space-between;
                &_list {
                    
                    
                }
                &_item {
                        
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}