@media (max-width: 600px) {

    .seo {

        &__in {
            padding: 61px 0;
        }

        &__body {

            &_ex {
                height: 0;
                @include def-anim;
                overflow: hidden;

            }

            &_ex.active {

            }
        }

        &__more {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        } 
        
    }
}